[Unit]
Description=Demo service
After=network.target

[Service]
ExecStart=/usr/bin/dotnet /home/nick/Desktop/projects/personal/personal_daemon/bin/personal_daemon.dll 5000
Restart=on-failure

[Install]
WantedBy=multi-user.target
